#input-bar-container {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #2a63ab;
}

input[type="text"] {
    width:100%;
    margin:20px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color:#888;
    font-size: 1.1em;
    font-weight: 100;
    border:none;
    padding:10px;
}


input[type="text"]:focus {
    border:none;
    outline:none;
    box-shadow: inset 1px 1px 1px #ccc;
}

